* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif !important; }

body {
  background: url("https://i.pinimg.com/originals/cb/33/3e/cb333e86aafde7d3aaf6094a74fc654f.jpg") !important; }

.btn-primary {
  background-color: green; }

.btn-primary:hover {
  background-color: #779677; }

.btn-primary:active {
  background-color: #3c813c; }

.logo {
  width: 75px;
  height: auto;
  justify-content: center; }

.menu-principal {
  justify-content: center;
  display: flex;
  align-items: center; }
  .menu-principal .first-ul {
    display: inline;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .menu-principal .first-ul ul {
      display: none;
      position: absolute;
      list-style: none;
      padding: 0;
      top: 50px; }
      .menu-principal .first-ul ul li {
        width: 170px;
        float: none;
        display: list-item;
        position: relative;
        padding: 10px; }
    .menu-principal .first-ul li {
      display: inline-block;
      background-color: #0B7F20; }
  .menu-principal li {
    display: inline; }

.busqueda {
  display: flex;
  align-items: center; }

nav {
  display: flex;
  justify-content: space-between; }
  nav a {
    display: block;
    padding: 0 10px;
    color: black;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none; }

.container-right {
  display: flex; }
  .container-right div {
    padding: 0 20px; }

.bars {
  color: black;
  background: none;
  border: none;
  padding: 0 20px;
  font-size: 30px;
  display: none; }

@media (max-width: 768px) {
  .container-right {
    flex-direction: column; }
  .first-ul {
    display: block; } }

nav a:hover {
  background-color: darkgrey; }

.first-ul li:hover > ul {
  display: inherit;
  background-color: darkgrey; }

.img1 {
  border: 1px black solid;
  width: 150%;
  height: 100%;
  align-self: center;
  justify-self: flex-start;
  grid-column: 1 / 4; }

img {
  width: 100%;
  height: 100%; }

footer {
  width: 100%;
  padding: 50px 0px;
  background-image: url(/imagenes/background-footer.svg);
  background-size: cover; }
  footer .container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px; }
    footer .container-footer .box-footer {
      display: flex;
      flex-direction: column;
      padding: 40px; }
      footer .container-footer .box-footer .logo {
        width: 180px; }
    footer .container-footer h2 {
      margin-bottom: 30px;
      color: #343434;
      font-weight: 700;
      background: none; }
    footer .container-footer a {
      margin-top: 10px;
      color: black;
      font-weight: 600; }
    footer .container-footer a:hover {
      opacity: 0.8; }
    footer .container-footer .fab {
      font-size: 20px; }

.box-copyright {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px; }
  .box-copyright p {
    margin-top: 20px;
    color: black;
    text-align: center; }
  .box-copyright hr {
    border: none;
    height: 1px;
    color: black; }

.nosotros {
  text-align: justify; }

.img-nosotros {
  width: 400px;
  height: 400px;
  margin-bottom: 50px; }

.container-img-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

h1 {
  text-align: center;
  font-style: italic;
  background: linear-gradient(to bottom, white, #0B7F20); }

h2 {
  text-align: left;
  padding: 10px;
  border: 5px;
  background: linear-gradient(to left, #388e24, white);
  color: black;
  font-style: italic;
  letter-spacing: 1px; }

h3 {
  text-align: left;
  padding: 10px;
  border: 5px;
  background-color: burlywood;
  color: black;
  font-style: italic;
  letter-spacing: 1px;
  background: linear-gradient(to right, #439430, white); }

h4 {
  text-align: left;
  padding: 10px;
  border: 5px;
  background-color: burlywood;
  color: black;
  font-style: italic;
  letter-spacing: 1px;
  background: linear-gradient(to left, #388e24, white); }

p {
  text-align: left;
  padding: 15px;
  font-style: normal;
  letter-spacing: 1px;
  color: black; }

.vege .vege-indice {
  text-decoration: none;
  background: none;
  color: black;
  list-style-type: upper-roman;
  padding: 30px;
  margin: 5px; }

.vege .vege-resumen {
  padding: 30px;
  border: 30px;
  letter-spacing: 1px;
  padding: 30px;
  margin: 5px; }

.vege .vege-texto {
  padding: 30px;
  margin: 5px; }
  .vege .vege-texto p {
    text-align: justify; }

.vege .container-img-vege {
  display: flex;
  justify-content: center; }
  .vege .container-img-vege .img-vege {
    width: auto;
    height: 50%;
    padding: 45px; }

.vege p {
  text-align: center;
  font-size: 17px;
  font-style: italic; }

.vege li {
  padding-left: 45px; }

.container-plaga li {
  padding: 10px;
  margin: 5px; }

.container-plaga .container-texto {
  padding: 20px;
  font-size: 17px; }

.container-plaga .container-texto-principal {
  padding: 20px;
  font-size: 20px;
  font-style: italic; }

.container-plaga .container-imagen-plaga {
  display: flex;
  justify-content: center;
  margin: 30px; }
  .container-plaga .container-imagen-plaga .plaga-img {
    width: 50%;
    height: 50%; }

.carousel-item .img-box {
  width: 100%; }

.carousel-item img {
  object-fit: cover; }

p {
  animation-duration: 3s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.container-mosca-imagen {
  justify-self: left; }

.glosario .texto-glosario-inicial {
  font-size: 20px;
  margin: 5px;
  padding: 2px;
  font-style: italic; }

.glosario .texto-glosario-indice {
  font-size: 17px;
  margin: 5px;
  padding: 2px;
  font-style: italic; }

.glosario .texto-glosario {
  padding: 20px;
  margin: 10px;
  font-style: italic;
  font-size: 17px; }

.glosario .glosario-indice {
  display: flex; }

.glosario .first-ol {
  display: inline; }
  .glosario .first-ol li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    background: none; }

.glosario .container-glosario .container-img-glosario {
  display: flex;
  justify-content: center; }

.glosario-img {
  width: 100%;
  height: auto; }

.flora p {
  text-align: center;
  font-size: 17px;
  font-style: italic; }

.flora .flora-texto {
  padding: 30px;
  margin: 5px; }

.flora h5 {
  padding: 10px;
  margin: 5px; }

.container-img-semana {
  display: flex;
  justify-content: space-around;
  flex-direction: row; }
  .container-img-semana .img-semana1 {
    width: 380px;
    height: 380px;
    padding: 20px;
    margin: 5px; }
  .container-img-semana .img-semana2 {
    width: 380px;
    height: 380px;
    padding: 20px;
    margin: 5px; }
  .container-img-semana .img-semana3 {
    width: 380px;
    height: 380px;
    padding: 20px;
    margin: 5px; }

.container-pistilo {
  display: flex;
  justify-content: center; }
  .container-pistilo .img-pistilo {
    width: 70%;
    height: 20%;
    padding: 20px;
    margin: 5px; }

.container-img-semana6 {
  display: flex;
  justify-content: space-around;
  flex-direction: row; }

.container-follaje {
  display: flex;
  justify-content: center; }
  .container-follaje .img-follaje {
    width: 50%;
    height: 20%;
    padding: 20px;
    margin: 5px; }

.container-img-semana4 {
  display: flex;
  justify-content: space-around;
  flex-direction: row; }
  .container-img-semana4 .img-semana5 {
    width: 500px;
    height: 500px;
    padding: 20px;
    margin: 5px; }
  .container-img-semana4 .img-semana4 {
    width: 500px;
    height: 500px;
    padding: 20px;
    margin: 5px; }

.container-ferti {
  padding: 20px;
  margin: 8px; }
  .container-ferti .imagen-nombre {
    width: 100%;
    background: white;
    padding: 20px;
    margin: 10px; }
    .container-ferti .imagen-nombre figure img {
      width: auto;
      display: flex;
      margin: auto; }

@media (max-width: 798px) {
  .container-img-nosotros {
    flex-direction: column; }
  .img-nosotros {
    width: 100%; }
  .flora .container-img-semana {
    flex-direction: column; }
    .flora .container-img-semana figure {
      width: 100%;
      margin: 0; }
  .container-ferti .imagen-nombre {
    margin: 0; }
    .container-ferti .imagen-nombre figure img {
      width: 50%; } }
